<template>
  <div id="app">
    <app-header/>
  </div>
</template>

<script>
import AppHeader from './components/root/Header.vue'

export default {
  name: 'app',
  components: {
    AppHeader
  }
}
</script>

<style src="./assets/sass/app.scss" lang="sass">

</style>
