<!--Fazendo os exemplos do site-->
<!--https://br.vuejs.org/v2/guide/-->
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Meu primeiro aplicativo Vue</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div id="app">
    {{ message }}
  </div>

  <div id="app-2">
    <span v-bind:title="message">
        Pare o mouse sobre mim e veja a dica interligada dinamicamente!
    </span>
  </div>

  <div id="app-3">
    <p v-if="seen">Agora você me viu</p>
  </div>

  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Inverter Mensagem</button>
  </div>

  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
    <button v-on:click="clear">Limpar Input</button>
  </div>

  <div id="app-7">
    <ol>
      <!--
        Agora provemos cada todo-item com o objeto todo que ele
        representa, de forma que seu conteúdo possa ser dinâmico.
        Também precisamos prover cada componente com uma "chave",
        a qual será explicada posteriormente.
      -->
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id">
      </todo-item>
    </ol>
  </div>

  <script src="./app.js"></script>

</body>
</html>