<template>
  <div id="app">
    <my-menu title="Meu titulo VueJS" v-on:menu-click="onMenuClick" v-on:button-click="onButtonClick">
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </my-menu>
    <img src="http://vuejs.org/images/logo.png">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
import MyMenu from './MyMenu.vue'
export default {
  components:{
    MyMenu
  },
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods:{
    onMenuClick:function(e){
      alert("menu click");
    },
    onButtonClick:function(message){
      alert(message);
    }
  }
}
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

img {
  width: 200px;
  height: 200px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
