<template>
<div>
    <div @click="onMenuClick">
        <h4>{{ title }}</h4>
        <div>
            <slot></slot>
        </div>
    </div>
    <button @click="onButtonClick">Me Clique</button>
</div>
</template>
<script>
    export default{
        props: {
            title: {
                type: String,
                required: true
            }
        },
        methods:{
            onMenuClick : function(){
                this.$emit('menu-click');
            },
            onButtonClick : function(){
                this.$emit('button-click',"emit event from menu");
            }
        }
    }
</script>