<template>
<div class="animated fadeIn">
    <!--<b-row>-->
      <!--<b-col sm="6">-->
        <b-card>
          <div slot="header">
            <strong>Nova Conexão</strong><small>+</small>
          </div>
          <b-row>
            <b-col sm="6">
              <b-form-fieldset label="Driver">
                <b-form-select
                  :plain="true"
                  :options="['Oracle']">
                </b-form-select>
              </b-form-fieldset>
            </b-col><!--/.col-->
            <b-col sm="6">
              <b-form-fieldset label="Database">
                <b-form-input type="text" id="addip" placeholder="128.1.1.3:1521/production"></b-form-input>
              </b-form-fieldset>
            </b-col><!--/.col-->
          </b-row><!--/.row-->
          <b-row>
            <b-col sm="6">
              <b-form-fieldset label="Username">
                <b-form-input type="text" id="adduser" placeholder="oracle"></b-form-input>
              </b-form-fieldset>
            </b-col><!--/.col-->
            <b-col sm="6">
              <b-form-fieldset label="Password">
                <b-form-input type="password" id="addpass" placeholder="123"></b-form-input>
              </b-form-fieldset>
            </b-col><!--/.col-->
          </b-row><!--/.row-->
          <b-row>
            <b-col sm="6">
              <b-form-fieldset label="Nome Conexão">
                <b-form-input type="text" id="addname" placeholder="conexão principal"></b-form-input>
              </b-form-fieldset>
            </b-col>
            <b-col sm="6">
              <b-form-fieldset label="descrição">
                <b-form-input type="text" id="adddesc" placeholder="minha conexão com o servidor X."></b-form-input>
              </b-form-fieldset>
            </b-col>
          </b-row><!--/.row-->
          <div class="form-actions">
            <b-button type="submit" variant="primary">Savar Conexão</b-button>
            <b-button type="button" variant="outline-success">Testar Conexão</b-button>
          </div>
        </b-card>
      <!--</b-col>-->
    <!--</b-row>-->
  </div>
</template>

<script>
export default {
  name: 'config',
  methods: {
    click () {
      // do nothing
    }
  }
}
</script>
