<template>
<div class="animated fadeIn">
    <b-row>
      <b-col sm="6">
        <b-card>
          <add-conexao/>
        </b-card>
      </b-col>
      <b-col sm="6">
        <b-card>
          <list-conexao/>
        </b-card>
      </b-col>
    </b-row><!--/.row-->
  </div>
</template>

<script>
import ListConexao from './listConexao'
import AddConexao from './addConecao'
export default {
  name: 'config',
  components: {
    ListConexao,
    AddConexao
  },
  methods: {
    click () {
      // do nothing
    }
  },
  beforeRouteEnter (to, from, next) {
    console.log('beforeRouteEnter config')
    // if (!store.getters.getAuthToken) {
    //   return next()
    // }
    // next(PATH_HOME)
  }
}
</script>
