<template>
  <div id="container-for-countries">
    Countries chart
  </div>
</template>

<script>

  import base from './base.vue'
  import _ from 'lodash'
  import Highcharts from 'highcharts'

export default {

  extends: base,
  methods: {
      /*
        * Utilizado para ler a lista e calcular a fonte de dados do grafico
      */
      dataSource(){

        /*
        * 1. Extrair os paises
        * 2. Contas a quantidade de ocorrencia de cada um
        * 3. Transformar objetos em arrays
        * 4. Ordenar do maior para o menor
        */

        const countries = this.localList.map( item => item.country )
        const base = _(countries)
          .countBy()
          .map( ( value, key ) => ( { key, value } ) )
          .orderBy(['value'], ['desc'])
          .value()

        const categories = base.map( item => item.key )

        const values = base.map( item => item.value )

        if(this.chart === null) {
          this.chart = this.setup({ categories, values })
        } else {
          this.chart.series[0].setData( values )
        }
      },
      /*
        * Para montar o grafico e exibi-lo na tela.
        * Pbs: este metodo só poderá ser chamado quando a fonte de dados estiver pronta
      */
      setup(obj){
        const {categories, values } = obj

        return Highcharts.chart('container-for-countries', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Contries'
            },
            subtitle: {
                text: 'Source: Michel.com'
            },
            xAxis: {
                categories: categories,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Quantidade'
                }
            },
            series: [{
                name: 'Quantidade',
                data: values

            }]
        });
      }
    }
}
</script>

<style>

</style>
