<template>
  <div>
    <h1>
      Meu projeto com Vuex
    </h1>
    <h4>{{ user }}</h4>
    <hr>
    <cc-users></cc-users>
  </div>
</template>

<script>
  import CcUsers from './components/main.vue'
  import { mapState, mapActions } from 'vuex'

  export default{
    components: {
      CcUsers
    },
    mounted(){
      const payload = {
          name: 'Michel Ferreira',
          email: 'souza@email.com',
          level: 'Primeiro Nivel',
          city: 'Navegantes',
          state: 'SC'
        }
        // setTimeout( () => this.$store.dispatch('changeUser', payload ), 3000)
        setTimeout( () => this.changeUser( payload ), 3000)
    },
    computed: {
      ...mapState({
        user: state => {
          const { name, email } = state.user
            return `O usuario logado é ${name} e possui o email ${email}.`
        }
      })
      // user(){
      //   const { name, email } = this.$store.state.user //Object Destructuring
      //   return `O usuario logado é ${name} e possui o email ${email}.`
      // }
    },
    methods: {
      ...mapActions(['changeUser'])
    }
  }
</script>
