<template>
    <div>
        Comp 3
    </div>
</template>

<script>
import {eventMixin} from '../eventMixin'
    export default {
        name: 'Comp3',
        data(){
            return {
                name: 'Opa'
            }
        },
        mixins: [eventMixin]
    }
</script>