<template>
  <div class="animated fadeIn">
    <config></config>
  </div>
</template>

<script>
import Config from './Conexao/conexao'

export default {
  name: 'conexao',
  components: {
    Config
  }
}
</script>
