<template>
  <div>
    <button @click="mudarDados" :disabled="hasUser">
      Mudar dados do usuario
    </button>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'
  export default {
    methods: {
      ...mapActions(['changeUser']),
      mudarDados(){
        // this.$store.state.user.name = 'Ana paula'
        const payload = {
          name: 'Davi Bernardo',
          email: 'davi@email.com',
          level: 'Segund Nivel',
          city: 'Itajaí',
          state: 'SC'
        }
        // this.$store.commit('CHANGE_USER', payload )
        this.changeUser( payload )
      }
    },
    computed: {
      hasUser(){
        return !this.$store.state.user.email
      }
    }
  }
</script>
