<template>
  <div>
    <div v-for="post in posts">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{post.title}}</p>
              <p class="subtitle is-6">by {{post.uid}}</p>
            </div>
          </div>
          <div class="content">
            {{post.message}}
            <br>
          </div>
        </div>
      </div>
    <br/>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import firebase from 'firebase'
  export default {
    name: 'home',
    data() {
      return {
        post: {
          title: ''
        }
      }
    },
    firebase: {
      posts: firebase.database().ref('posts')
    },
    methods: {

    }
  }

</script>
