<template>
<!--<div class="animated fadeIn">-->
  <b-card>
    <div slot="header">
      <strong>Nova Conexão</strong><small>+</small>
    </div>
    <b-row>
      <b-col sm="6">
        <b-form-fieldset label="Driver">
          <b-form-select
            @blur.native="onBlur('driver')"
            :plain="true"
            required
            :options="drivers"
            v-model="form['driver']">
          </b-form-select>
          <p class="msg" v-if="errors['driver']">* Driver é obrigatorio</p>
        </b-form-fieldset>
      </b-col><!--/.col-->
      <b-col sm="6">
        <b-form-fieldset label="Database">
          <b-form-input @blur.native="onBlur('connectString')" type="text" id="connectString" v-model="form['connectString']" placeholder="128.1.1.3:1521/production"></b-form-input>
          <p class="msg" v-if="errors['connectString']">* Database é obrigatorio</p>
          <p class="msg" v-if="dbTest">* Substituir o &lt;HOST IP&gt; pelo o IP onde está rodando a aplicação</p>
        </b-form-fieldset>
      </b-col><!--/.col-->
    </b-row><!--/.row-->
    <b-row>
      <b-col sm="6">
        <b-form-fieldset label="User">
          <b-form-input @blur.native="onBlur('user')" type="text" id="user" placeholder="oracle" v-model="form['user']"></b-form-input>
          <p class="msg" v-if="errors['user']">* User é obrigatorio</p>
        </b-form-fieldset>
      </b-col><!--/.col-->
      <b-col sm="6">
        <b-form-fieldset label="Password">
          <b-form-input @blur.native="onBlur('password')" type="password" id="password" placeholder="123" v-model="form['password']"></b-form-input>
          <p class="msg" v-if="errors['password']">* Password é obrigatorio</p>
        </b-form-fieldset>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="6">
        <b-form-fieldset label="Nome Conexão">
          <b-form-input @blur.native="onBlur('nameConect')" type="text" id="addname" placeholder="conexão principal" v-model="form['nameConect']"></b-form-input>
          <p class="msg" v-if="errors['nameConect']">* Nome da conexão é obrigatorio</p>
        </b-form-fieldset>
      </b-col>
      <b-col sm="6">
        <b-form-fieldset label="descrição">
          <b-form-input @blur.native="onBlur('descrConect')" type="text" id="adddesc" placeholder="minha conexão com o servidor X." v-model="form['descrConect']"></b-form-input>
          <p class="msg" v-if="errors['descrConect']">* Descrição é obrigatorio</p>
        </b-form-fieldset>
      </b-col>
    </b-row>
    <b-form-checkbox value="yes"
                    unchecked-value="no"
                    @change="onDB">
      Testar banco da aplicação
    </b-form-checkbox>
    <div class="form-actions">
      <b-button type="submit" :disabled="stateButton || !enableBtn" variant="primary">Savar Conexão</b-button>
      <b-button type="button" @click="testConnection" variant="outline-success">Testar Conexão</b-button>
    </div>
    <div>
      <b-modal v-model="show"
          title="Status da conexão"
          :header-bg-variant="modal.type"

          centered>
        <b-container fluid>
          <p>
            {{ modal.msg }}
          </p>
          <br>
          <p>
            {{ 'Info: ' + modal.data }}
          </p>
        </b-container>
        <div slot="modal-footer" class="w-100">
          <b-btn size="sm" class="float-right" variant="primary" @click="onClose">
            Close
          </b-btn>
        </div>
      </b-modal>
    </div>
  </b-card>
<!--</div>-->
</template>

<script>
// import {success, error} from '../../toast'
import {mapActions} from 'vuex'
export default {
  name: 'config',
  data () {
    return {
      dbTest: false,
      show: false,
      enableBtn: false,
      modal: {
        type: '',
        msg: '',
        data: ''
      },
      form: {
        driver: '',
        connectString: '',
        user: '',
        password: '',
        nameConect: '',
        descrConect: ''
      },
      validation: (value) => String(value).length > 0,
      errors: {
        driver: false,
        connectString: false,
        user: false,
        password: false,
        nameConect: false,
        descrConect: false
      },
      drivers: ['Oracle']
    }
  },
  computed: {
    stateButton () {
      return this.hasError('driver') || this.hasError('connectString') || this.hasError('user') || this.hasError('password') || this.hasError('nameConect') || this.hasError('descrConect')
    }
  },
  methods: {
    ...mapActions([
      'connection'
    ]),
    onDB (checked) {
      const data = {
        driver: 'Oracle',
        user: 'system',
        password: 'oracle',
        connectString: '<HOST IP>:49161/XE',
        nameConect: 'Database XE',
        descrConect: 'Connexão de teste da aplicação'
      }
      if (checked !== 'no') {
        this.dbTest = true
        this.form = { ...data }
      } else {
        this.dbTest = false
        Object.assign(this.form, this.$options.data().form)
      }
    },
    onClose () {
      this.show = false
    },
    onBlur (field) {
      this.errors[field] = this.hasError(field)
    },
    hasError (field) {
      return !this.validation(this.form[field])
    },
    onSpinner (value) {
      this.$emit('spinner', value)
    },
    testConnection () {
      const {connectString, user, password} = this.form
      // const {driver, connectString, user, password, nameConect, descrConect} = this.form
      this.onSpinner(true)
      this.connection({connectString, user, password})
        .then(({ data }) => {
          this.onSpinner(false)
          this.modal = { ...data }
          this.show = true
          this.enableBtn = true
          // Object.assign(this.form, this.$options.data().form)
        })
        .catch(err => {
          this.onSpinner(false)
          if (err.message) {
            this.modal.type = 'danger'
            this.modal.msg = err.message
            this.modal.data = 'Vefique seu servidor!!!'
          } else {
            this.modal = { ...err.response.data }
          }
          this.show = true
        })
    }
  }
}
</script>

<style lang="css">
  .msg {
    color: red;
    font-size: 12px;
    margin: 0px;
  }

</style>
