<template>
<!--<div class="animated fadeIn">-->
  <b-row>
    <b-col sm="6">
      <b-card>
        <add-conection v-on:spinner="onSpinner"/>
      </b-card>
    </b-col>
    <b-col sm="6">
      <b-card>
        <list-conection/>
      </b-card>
    </b-col>
    <loading v-show="show"/>
  </b-row>
<!--</div>-->
</template>

<script>
import ListConection from './ListConection'
import AddConection from './AddConection'
import Loading from './Loading'
// import Auth from '../../auth'
export default {
  name: 'config',
  components: {
    ListConection,
    AddConection,
    Loading
  },
  data () {
    return {
      show: false
    }
  },
  methods: {
    onSpinner (e) {
      if (e) {
        this.show = true
      } else {
        this.show = false
      }
    }
  }
  // beforeRouteEnter (to, from, next) {
  //   console.log('beforeRouteEnter config')
  //   // if (!store.getters.getAuthToken) {
  //   //   return next()
  //   // }
  //   // next(PATH_HOME)
  // }
}
</script>
