<template>
  <div class="animated fadeIn">
    <conection/>
  </div>
</template>

<script>
import Conection from './Conection'

export default {
  name: 'conexao',
  components: {
    Conection
  }
}
</script>
