<template>
<div>
  <b-btn v-b-modal.modal-center>Launch centered modal</b-btn>

  <!-- Modal Component -->
  <b-modal id="modal-center" centered title="Bootstrap-Vue">
    <p class="my-4">Vertically centered modal!</p>
  </b-modal>
</div>
</template>

<script>
export default {
  name: 'successConnect',
  methods: {
    // click () {
    //   Auth.getUser().then(data => console.log('user: ', data))
    //   Auth.getToken().then(data => console.log('token: ', data))
    // }
  }
  // beforeRouteEnter (to, from, next) {
  //   console.log('beforeRouteEnter config')
  //   // if (!store.getters.getAuthToken) {
  //   //   return next()
  //   // }
  //   // next(PATH_HOME)
  // }
}
</script>
