<template>
  <div id="app" class="container">
    <div class="well">
      <filters></filters>
    </div>

    <div class="row">
      <div class="col-md-6">
        <countries></countries>
      </div>
      <div class="col-md-6">
        <languages></languages>
      </div>
    </div>
  </div>
</template>

<script>

  import filters from './filters.vue'
  import countries from './charts/countries.vue'
  import languages from './charts/languages.vue'
  import { HTTP } from './http-common';
  import { mapActions } from 'vuex'
  // import axios from 'axios';

    // const http = axios.create()

    export default {
      name: 'app',
      mounted(){
        HTTP.get().then( response => {
          // console.log(response.data)
          this.setList( response.data )
        })
      },
      components:{
        filters,
        countries,
        languages
      },
      data () {
        return {
          msg: 'Welcome to Your Vue.js App'
        }
      },
      methods: {
        ...mapActions([
          'setList'
        ])
      }
    }
</script>

<style>

</style>
