<template>

<div id="app">
  <h1>{{ msg }}</h1>
  <button v-show="!isLogged" @click="doLogin">Login</button>
  <div v-show="isLogged">
    <button @click="doLogout"> Logout</button>
    <button > Users</button>
    <button @click="loadProducts"> Products</button>
    <button > Suppliers</button>

    <br>
    <div v-show="hasProducts">
      <h4>Products</h4>
    <table border="1">
      <thead>
        <tr>
          <td>id</td>
          <td>name</td>
          <td>quantity</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="p in getProducts">
          <td>{{p.id}}</td>
          <td>{{p.name}}</td>
          <td>{{p.quantity}}</td>
        </tr>
      </tbody>
    </table>
    </div>

  </div>
</div>

</template>

<script>


// import {doLogin} from './modules/login/actions'
import { mapActions, mapState } from 'vuex'
// import { HTTP } from './http-common';

  export default {
  data () {
    return {
      msg: 'Hello Vue!'
    }
  },
  computed: {
    isLogged(){
      return this.$store.getters.isLogged
    },
    hasProducts(){
      return this.$store.getters.hasProducts
    },
    getProducts(){
      return this.$store.getters.getProducts
    }
  },
  methods: {
    ...mapActions([
        'doLogin', 'doLogout', 'loadProducts'
    ])
    // changeDoLogin(){
    //   // this.doLogin();
    //    HTTP.get().then(
    //         (response)=>{
    //           console.log('Response: ', response)
    //         //  context.commit("SETLOGIN", JSON.parse(response.data))
    //         },
    //         (error)=>{
    //             console.error(error.statusText)
    //         }
    //     )

    // }
  }
}
</script>