<template>
  <placeholder-list
      class="row"
      el-class="col-xs-6 col-sm-3"
      :list="placeholders" />
</template>

<script>
/* eslint-disable */
import PlaceholderList from './PlaceholderList.vue';

export default {
  components: {
    PlaceholderList
  },
  data(){
    return {
      placeholders: [
        {
          title: 'XPTO 0',
          description: 'yo XPTO'
        },
        {
          title: 'XPTO 1',
          description: 'yo XPTO'
        },
        {
          title: 'XPTO 2',
          description: 'yo XPTO'
        },
        {
          title: 'XPTO 3 ',
          description: 'yo XPTO'
        }
      ]
    }
  }
}
</script>

