<template>
  <div>
    <div class="placeholders">
      <placeholder
        v-for="row in list"
        :key="row.id"
        :title="row.title"
        :description="row.description"
        :class="elClass"
      />
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import Placeholder from './Placeholder.vue';

  export default {
    components: {
      Placeholder
    },
    props: {
      list: {
        type: Array,
        required: true
      },
      elClass: String,
    }
  }
</script>

<style scoped>

</style>
