<template>
<div class="placeholder">
  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
  <h4>{{ title }}</h4>
  <span class="text-muted">{{ description }}</span>
</div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      requerid: true,
    },
    description: String,
  },
};
</script>

