<template>
  <div id="app">
    <h1>Plugin</h1>
    <p>{{ valor | real }}</p>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
       valor: 123456
    }
  }
}
</script>

<style>

</style>
