<template>
    <footer class="page-footer">
        <div class="footer-copyright">
        <div class="container"> 
            © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
        </div>
    </footer>
</template>

<script>
    export default{ 

    }
</script>
 <style>
 footer {
    position: fixed;
    bottom: 0;
    width: 100%;
 }
 </style>