<template>
<div>
    <a @click="callUsers" class="waves-effect waves-light btn">Call Users</a>
    <a @click="countUsers" class="waves-effect waves-light btn">
        <i class="material-icons left">cloud</i>
        Count Users
    </a>
    <a class="waves-effect waves-light btn">
        <i class="materia6 l-icons right">cloud</i>
        button
    </a>
    <a class="btn" @click="resourceGet">resource.get</a>
    <a class="btn" @click="resourceGetFoo">resource.get.foo</a
    <hr/>
    <pre>
        {{ users }}
    </pre>
</div>
</template>
<script>
    export default{
        data(){
            return {
                users: null,
                resourceUser : this.$resource('user{/id}'),
                resourceUserFoo : this.$resource('user{/id}',null,{'foo':{method:'GET',url:"/user/foo"}})
            }
        },
        methods: {
            callUsers: function(){
                this.$http({url: '/users.json', method: 'GET'})
                .then(function (response) {
                    this.users = response.data
                }, 
                function (response) {
                    Materialize.toast('Error: ' + response.statusText, 3000)
                });
            },
            countUsers: function(){
                Materialize.toast(this.users.length, 1000)
            },
            resourceGet:function(){
                this.resourceUser.get({id:1}).then(function (response){
                    console.log(response)
                })
            },
            resourceGetFoo: function(){
                this.resourceUserFoo.foo({id:1}).then(function (response) {
                    console.log(response)
                })
            }
        }
    }
</script>