<template>
<div id="app">
  <Display></Display>
  <Increment></Increment>
</div>
</template>

<script>

import Display from './Display.vue'
import Increment from './Increment.vue'
import store from './store.js'
import { mapActions, mapState } from 'vuex'

export default {

  name: 'App',
  mounted(){
    setTimeout( () => this.changeIncrement(50), 2000 )
  },

  components: {
    Display, 
    Increment
  },

  data () {
    return {
      msg: 'Hello Vue!'
    }
  },
  store,
  methods: {
    ...mapActions([
        'changeIncrement', 'changeDecrement'   
    ])
  }
  
}
</script>