<template>
<div>
    <h3>Count {{ 'with Getters: ' + getCount }} <br> {{ 'Count with mapState: ' + count}} </h3>
</div>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        computed:{
            // o mapState nos permite acessar o this.$store. nada mais que isso
            ...mapState({

                count: state => state.state.count
            }),
            getCount(){
                return this.$store.getters.getCount
            }
            // count(){
            //     return this.$store.state.state.count
            // }
        }
    }
</script>