
<template>
<div>
    <button :disabled="!hasTest" @click="incrementCounter">+1</button>
    <button :disabled="!hasTest" @click="decrementCounter">-1</button>
    <div>
        <input type="text" v-model="incrementValue">
        <button @click="tryIncrementCounterWithValue">increment</button>
    </div>
    <div v-show="getShowWaitMessage">
        Aguarde...
    </div>
</div>
</template>

<script>
    import { mapActions, mapState } from 'vuex'
    export default {
        data(){
            return {
                incrementValue: 0,
                waitMessage: false
            }
        },
        methods: {

            ...mapActions([
                'changeIncrement', 'changeDecrement', 'incrementCounterWithValue'
            ]),

            incrementCounter(){
                this.waitMessage = true
                
                // const loading = () => this.waitMessage = false

                // this.changeIncrement().then(loading);
                this.changeIncrement();
                
            },

            decrementCounter(){
                this.changeDecrement()
            },
            tryIncrementCounterWithValue(){
                try{
                    this.incrementCounterWithValue(this.incrementValue)
                } catch (error) {
                    alert(error)
                }
            }
        },
        computed: {
            
            ...mapState({

                hasTest: state => state.state.count != 0
            }),
            getShowWaitMessage(){
                return this.$store.getters.getShowWaitMessage
            } 
        }
    }
</script>