<script>
/* eslint-disable */
import AppHeader from './components/root/Header.vue';
import AppSidebar from './components/root/Sidebar.vue';
import AppMain from './components/Main.vue';
export default {
  name: 'app',
  components: {
    AppHeader,
    AppSidebar,
    AppMain
  }
}
</script>

<template>
<div>
<app-header/>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>

      <app-sidebar class="col-sm-3 col-md-2"/>
        <app-main/>
      </div>
    </div>
  </div>
</div>
</div>
</template>


<style>
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

</style>
